@model BankingApp.Models.Account

@{
    Layout = null;
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="@Url.Content("~/Content/Global.css")" rel="stylesheet" type="text/css" />

    <style>
        #logout-btn {
            position: fixed;
            bottom: 20px;
            left: 30px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .account-details {
            margin-bottom: 20px;
        }

        .dl-horizontal dt {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .dl-horizontal dd {
            margin-left: 0;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="buttons-section">
            <h1>ADMIN</h1>
            @Html.ActionLink("Back to List", "Index")
            @Html.ActionLink("Log Out", "LogOut", null, new { @id = "logout-btn" })
        </div>
        <div class="text-section">
            <h3>Account</h3>
            <hr />
            <div class="account-details">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
                    <dd>@Html.DisplayFor(model => model.FirstName)</dd>

                    <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
                    <dd>@Html.DisplayFor(model => model.LastName)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>

                    <dt>@Html.DisplayNameFor(model => model.AccountNumber)</dt>
                    <dd>@Html.DisplayFor(model => model.AccountNumber)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Balance)</dt>
                    <dd>@Html.DisplayFor(model => model.Balance)</dd>

                    <dt>@Html.DisplayNameFor(model => model.AccountType)</dt>
                    <dd>
                        @if (Model.AccountType == 0)
                        {
                            @:Administrator Account
                        }
                        else if (Model.AccountType == 1)
                        {
                            @:Current Account
                        }
                        else
                        {
                            @:Saving Account
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <script src="~/Scripts/LogOut-btn.js"></script>
</body>
</html>
