@model BankingApp.Models.Account
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bank Login</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: sans-serif;
            line-height: 1.5;
            min-height: 100vh;
            background: #f3f3f3;
            flex-direction: column;
            margin: 0;
        }

        .login-div {
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 10px 20px;
            transition: transform 0.2s;
            width: 500px;
            text-align: center;
        }

        h1 {
            color: #4CAF50;
        }

        label {
            display: block;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 5px;
            text-align: left;
            color: #555;
            font-weight: bold;
        }


        input {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            padding: 15px;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            border: none;
            color: white;
            cursor: pointer;
            background-color: #4CAF50;
            width: 100%;
            font-size: 16px;
        }

            button:focus,
            button:hover {
                background-color: #45A049;
            }

        .wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .field-validation-error {
            color: #DF2C14;
        }
    </style>
</head>
<body>
    <div class="login-div">
        @using (Html.BeginForm("Authorise", "Login", FormMethod.Post))
        {
            <h1>BANK</h1>
            <h3>Enter your login credentials</h3>
            <form action="">
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)

                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)

                @Html.LabelFor(model => model.Pin)
                @Html.EditorFor(model => model.Pin)
                @Html.ValidationMessageFor(model => model.Pin)

                @Html.ValidationMessageFor(model => model.LoginErrorMessage)

                <div class="wrap">
                    <p class="field-validation-error">@Html.DisplayFor(model => Model.LoginErrorMessage)</p>
                </div>

                <div class="wrap">
                    <button type="submit">Submit</button>
                </div>
            </form>
        }
        <script src="~/Scripts/jquery-1.8.0.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>
</html>
